@page "/Lists/{listId}/Records/{id}/Details/"
@model MemoryGame.Pages.Records.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}   

<h2>Details</h2>

<div>
    <h4>Record</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Record.Word)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Record.Word)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Record.Translation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Record.Translation)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Record.ID">Edit</a> |
    <a asp-page="./Index"  asp-route-id="@Model.ListId" >Back to List</a>
</div>
