@page "/Lists/{id}/Records/Game"
@model MemoryGame.Pages.Lists.Records.GameModel

@{
    ViewData["Title"] = "The game for " + Model.Header;
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


@if (@Model.IsGamePossible)
{


    <h1 id="recordScore"></h1>

    <div class="div-table">
        <div class="div-table-row">
            <div class="div-table-col">
                <h2> <span id="guessedCounterSpan"></span> </h2>
            </div>
            <div class="div-table-col">
                <div class="div">
                    <h2><span>Lifes: </span> <span id="lifesSpan"></span> </h2>
                </div>
            </div>

        </div>

        <div class="div-table-row">
            <div class="div-table-col">
                <h1 id="labelRecordToGuess">Title</h1>
                <h1 id="h1GameOver"><span id="gameOverSpan"></span> </h1>
            </div>
            <div class="div-table-col">
                <div class="div" id="resultContent">

                </div>
            </div>
        </div>
        <div class="div-table-row">
            <div id="content">

            </div>
        </div>
    </div>

    <form method="post"></form>

    <script src="~/js/gameBl.js" asp-append-version="true"></script>
    <script>
        const allItems =@Html.Raw(Json.Serialize(Model.AllRecordDecorators));
        const listId = @Html.Raw(Json.Serialize(Model.ListId));
        const config = {
            isFromForeignLanguage: @Html.Raw(Json.Serialize(Model.Config.IsFromForeignLanguage)),
            bestScore: @Html.Raw(Json.Serialize(Model.Config.BestScore)),
            id: @Html.Raw(Json.Serialize(Model.Config.ID)),
            userId: @Html.Raw(Json.Serialize(Model.Config.UserId)),
             buttonsNumber: 3,
             maxWrongGuesses: 3,
             redirectionDelay: 5000,
             fadeOutDelay: 3000,
             blinkDelay: 200
            };
        $(document).ready(gameBl(allItems, listId, config));
    </script>
}
else
{
    <h2>
        <span class="label label-danger"> There are not enough records to play the game.</span> <br />
        <span class="label label-danger"> Your list must contain at least @Model.MinRecordsForGame records.</span>
    </h2>
}


<div>
    <a asp-page="./Index" asp-route-id="@Model.ListId">Back to Records</a> |
    <a asp-page="../Index">Back to List</a> |
    <a asp-page="./Game">Restart the game</a>
</div>


